<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table, th, td {
            border: 1px solid black;
        }

    </style>

</head>
<body>
<h1>Users List</h1>
<table>
    <thead>
    <tr style="padding: 10px">
        <th> User id</th>
        <th> Name</th>
        <th> Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.isEmpty()}">
        <td colspan="2"> No Users Available</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.user_id}"> User id </span></td>
        <td><span th:text="${user.name}"> Name </span></td>
        <td><span th:text="${user.phone}"> Phone </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
